{% extends "public/public_base.html" %}

{% block title %}{{ _('Projects') }}{% endblock %}

{% block content %}
<h1>{{ _('Projects') }}</h1>

{% if project_data %}
<ul class="website-list">
    {% for item in project_data %}
    <li>
        <article>
            <a href="{{ url_for('public.client_project', project_id=item.project.id) }}">
                {{ item.project.name }}
            </a>
            <br>
            <small>
                {{ _('%(tested)s of %(total)s pages tested', tested=item.stats.tested_pages, total=item.stats.total_pages) }}
                &middot;
                {{ _('%(count)s violations', count=item.stats.total_violations) }}
            </small>
        </article>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ _('No projects available.') }}</p>
{% endif %}
{% endblock %}
